<% wrap_layout :layout do %>

  <section class="book">
    <h1><%= current_article.title %></h1>
    <header class="book__header">
            <dl>
                <dt>Author</dt>
                <dd><%= current_article.data.author %></dd>

                <dt>Year of Publication</dt>
                <dd><%= current_article.data.publication %></dd>

                <dt>When I read it</dt>
                <dd><%= current_article.data.reading %></dd>

                <dt>What I thought</dt>
                <dd><%= current_article.data.rating %></dd>

                <dt>Buy the book</dt>
                <dd><a href="<%= current_article.data.link %>">Amazon</a></dd>
            </dl>
        <figure>
            <picture>
                <source srcset="<%= current_article.data.cover %>" media="(min-width: 40em)" alt="">
                <img srcset="" alt="">
            </picture>
        </figure>
    </header>

    <% if current_article.data.highlights %>
        <article>
            <h2>Choice Highlights</h2>
            <% current_article.data.highlights.each do |h| %>
                <blockquote><%= h %></blockquote>
            <% end %>
        </article>
    <% end %>
  </section>

  <nav class="post__nav">
    <h1 class="visuallyhidden">Blog navigation</h1>
  <% if current_article.previous_article || current_article.next_article %>
      <%= link_to "Next: #{current_article.next_article.title}",
          current_article.next_article,
          class: "post__nav__next" if current_article.next_article %>
      <%= link_to "Previous: #{current_article.previous_article.title}",
          current_article.previous_article,
          class: "post__nav__previous" if current_article.previous_article %>
  <% end %>
  </nav>

<% end %>
