---
pageable: true
per_page: 20
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<article>
  <h1>I write, sometimes.</h1>
  <h2>I write about music, the web, and the intersection of the two.</h2>
</article>

<% if page_articles %>
<section class="archive">
  <h1 class="visuallyhidden">Archive</h1>
  <ol>
    <% page_articles.each_with_index do |article, i| %>
      <li class="archive__post">
          <%= link_to article.title, article %>
          <time datetime="<%= article.date.strftime('%Y-%m-%d') %>" class="date sc"><%= article.date.strftime('%b %e, %Y') %></time>
      </li>
    <% end %>
  </ol>

<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
